h2{
  font-size: 30px;
  color: #f17300ff;
  font-weight: 1000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
  font-size: 17px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.no-yes{
  font-size: 80px;
}

.eng-message{
  font-style: italic;
  font-weight: normal;
}

.info{
  font-size: 20px;
  color: red;
}

.btn{
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  background-color: #f17300ff;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 10px;
  border: solid 2px #eac435ff;
}