.form-signin{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.input-wrapper-signin {
  position: relative;
}

.inputs-signin{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-wrapper-signin .input-bar-signin {
 
  text-align: center;
}

.input-bar-signin {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.eye-icon-signin {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #0071a9ff;
  user-select: none;
  line-height: 1;
}

.submit-button{
  width: 50%;
}