.input-wrapper {
  position: relative;
  width: 70%;
  margin: 2px 0;
  display: flex;
  align-items: center;
}

.input-wrapper .input-bar {
  width: 100%;
  padding-right: 40px; /* rezerva na očko */
  padding-left: 10px;
  text-align: center;
}

.input-bar {
  text-align: center;
  width: 80%;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #0071a9ff;
  cursor: pointer;
  user-select: none;
  line-height: 1;
}

.submit-button{
  width: 50%;
}